.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuToggle {
  position: relative;
  width: 60px;
  height: 60px;
  /* background-color: #fff; */
  /* background: linear-gradient(
    90deg,
    rgba(0, 178, 255, 1) 0%,
    rgba(0, 106, 255, 1) 100%
  ); */

  border-radius: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15); */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.menuToggle::before {
  content: "";
  position: absolute;
  font-size: 2.8em;
  font-weight: 550;
  color: #fff;
  transition: 1.5s;
}

.menuToggle.active::before {
  transform: rotate(315deg);
}

.menu {
  position: absolute;
  width: 30px;
  height: 30px;
  /* background: #fff; */
  border-radius: 70px;
  z-index: -1;
  transform: rotate(315deg);
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s, 0.5s, 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuToggle.active ~ .menu {
  width: 200px;
  height: 50px;
  z-index: 1;
  background-color: #fff;

  transform: rotate(90deg) translateX(-150px) !important;
  /* transform: translateY(-100px) ; */
  /* transform: translateY(45deg); */
  transition-delay: 0s, 0.5s, 0.5s;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

/* .menu::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: #fff;
  left: calc(100% - 0px);
  bottom: 0px;
  transform: translateX(-10px) translateY(-20px) rotate(45deg);

  border-radius: 2px;
  transition: 0.5s;
} */

/* .menuToggle.active ~ .menu::before {
  transition-delay: 0.5s;
  bottom: -6px;
} */

.menu ul {
  position: relative;
  display: flex;
  margin-top: 5px;
  /* margin-left: 10px; */
  justify-content: center;
  /* align-items: center; */
  height: 80px;
  gap: 15px;
}

.menu ul li {
  list-style: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  transition: 0.25s;
  transition-delay: calc(0s + var(--i));
}

.menuToggle.active ~ .menu ul li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: calc(0.75s + var(--i));
}

.menu ul li a {
  display: block;
  font-size: 2.2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-fade-in {
  animation: fadeIn 0.5s ease-out var(--i);
}
